[submodule "NFD"]
	path = NFD
	url = https://github.com/anjujames33/NFD
	branch = qos
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/anjujames33/ndn-cxx
[submodule "co-simulation"]
	path = co-simulation
	url = https://github.com/NmsuNsol/NDN-PowerSysCoSim
